NET "clk" CLOCK_DEDICATED_ROUTE = FALSE;
 
NET "clk"         LOC=P17 | IOSTANDARD=LVCMOS33; #IO_L9P_T1_DQS_14
NET "rst"         LOC=M17 | IOSTANDARD=LVCMOS33; #IO_L9P_T1_DQS_14

NET "res[0]"         LOC=H17 | IOSTANDARD=LVCMOS33; #IO_L18P_T2_A24_15
NET "res[1]"         LOC=K15 | IOSTANDARD=LVCMOS33; #IO_L24P_T3_RS1_15
NET "res[2]"         LOC=J13 | IOSTANDARD=LVCMOS33; #IO_L17N_T2_A25_15
NET "res[3]"         LOC=N14 | IOSTANDARD=LVCMOS33; #IO_L8P_T1_D11_14
NET "res[4]"         LOC=R18 | IOSTANDARD=LVCMOS33; #IO_L7P_T1_D09_14
NET "res[5]"         LOC=V17 | IOSTANDARD=LVCMOS33; #IO_L18N_T2_A11_D27_14
NET "res[6]"         LOC=U17 | IOSTANDARD=LVCMOS33; #IO_L17P_T2_A14_D30_14
NET "res[7]"         LOC=U16 | IOSTANDARD=LVCMOS33; #IO_L18P_T2_A12_D28_14
NET "res[8]"         LOC=V16 | IOSTANDARD=LVCMOS33;
NET "res[9]"         LOC=T15 | IOSTANDARD=LVCMOS33;
NET "res[10]"        LOC=U14 | IOSTANDARD=LVCMOS33;
NET "res[11]"        LOC=T16 | IOSTANDARD=LVCMOS33;
NET "res[12]"        LOC=V15 | IOSTANDARD=LVCMOS33;
NET "res[13]"        LOC=V14 | IOSTANDARD=LVCMOS33;
NET "res[14]"        LOC=V12 | IOSTANDARD=LVCMOS33;
NET "res[15]"        LOC=V11 | IOSTANDARD=LVCMOS33;