<!DOCTYPE html>
<html>
<body>

<h2>Subject Table</h2>

<form action="/addSubject" method="POST">
  <label for="SubName">Name:</label><br>
  <input type="text" id="SubName" name="SubName"><br><br>
  <label for="SubCreds">Credits:</label><br>
  <input type="text" id="SubCreds" name="SubCreds"><br><br>
  <label for="SubDuration">Duration:</label><br>
  <input type="text" id="SubDuration" name="SubDuration"><br><br>
  <label for="SubFac">Faculty:</label><br>
  <input type="text" id="SubFac" name="SubFac"><br><br>
  <label for="OfferBy">Departments (Comma separated):</label><br>
  <input type="text" id="OfferBy" name="OfferBy"><br><br><br>
  <input type="submit" value="Insert">
</form>


</body>
</html>