NET "clk" CLOCK_DEDICATED_ROUTE = FALSE;
 
NET "in"          LOC=J15 | IOSTANDARD=LVCMOS33; #IO_L24N_T3_RS0_15
NET "clk"         LOC=P17 | IOSTANDARD=LVCMOS33; #IO_L9P_T1_DQS_14
NET "rst"         LOC=P18 | IOSTANDARD=LVCMOS33; #IO_L9P_T1_DQS_14

NET "div"         LOC=H17 | IOSTANDARD=LVCMOS33; #IO_L18P_T2_A24_15
